<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <title>Blog Ninjas | <%= title %></title>

<body>
    
    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam debitis, atque soluta dignissimos nesciunt praesentium rerum pariatur ullam ducimus ea labore ratione, animi natus distinctio illo sint incidunt neque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi itaque sint, ducimus eius officiis reiciendis qui dolores, assumenda, vel voluptas quo? In dolorem, quis odit magni unde rerum saepe maiores.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>